<div class="one-country-block__profile">
    <div class="text-block">
        <ul>
            {{#each this}}
            <li> <span class="text-block__name">
                    {{name}}
                </span>
            </li>
            {{/each}}
        </ul>